---
const {serviceHeroHeader, serviceHeroDesc, serviceHeroBtn, serviceHeroImage } = Astro.props;
---

<div>
    <h1>{serviceHeroHeader}</h1>
    <img src={serviceHeroImage} alt="random alt text">
    <p>{serviceHeroDesc}</p>
    <a href="#">{serviceHeroBtn}</a>
</div>