---
const {aboutHeader, aboutImage, aboutText, aboutBtn} = Astro.props;


---

<div>
    <h2>{aboutHeader}</h2>
    <img src={aboutImage} alt="random alt text">
    <p>{aboutText}</p>
    <a href="#">{aboutBtn}</a>
</div>