---
const {heroHeader, heroBanner, heroText, heroBtn } = Astro.props;

---

<div>
    <h1>{heroHeader}</h1>
    <img src={heroBanner} alt="random alt text">
    <p>{heroText}</p>
    <a href="#">{heroBtn}</a>
</div>