---

const {highQualityHeader, highQualityImage, highQualityText } = Astro.props;
---

<div>
    <h2>{highQualityHeader}</h2>
    <img src={highQualityImage} alt="random alt text">
    <p>{highQualityText}</p>
</div>