---

const {highQualityHeader, highQualityImage, highQualityText, highQualityAltText } = Astro.props;
---

<div>
    <h2>{highQualityHeader}</h2>
    <img src={highQualityImage} alt={highQualityAltText}>
    <p>{highQualityText}</p>
</div>