---
const {onlineBasedHeader, onlineBasedImage, onlineBasedText, onlineBasedBtn} = Astro.props;
---

<div>
    <h2>{onlineBasedHeader}</h2>
    <img src={onlineBasedImage} alt="random alt text">
    <p>{onlineBasedText}</p>
    <a href="#">{onlineBasedBtn}</a>
</div>