---
const { productGalleryHeader, productGalleryImages = [] } = Astro.props;
---


<div>
    <section>
        <h2>{productGalleryHeader}</h2>
        {productGalleryImages.map((pgImg) => (
        <img 
            src={`${pgImg.url}`} 
            alt={pgImg.alternativeText || pgImg.name} 
            width={pgImg.width} 
            height={pgImg.height}/>
         ))}
    </section>
</div>
