---
const {promoProductsHeader, promoProductsImage, promoproductsText,  promoProductsBtn} = Astro.props;
---

<div>
    <section>
        <h2>{promoProductsHeader}</h2>
        <p>{promoproductsText}</p>
        <img src={promoProductsImage} alt="random alt text">
        <a href="#">{promoProductsBtn}</a>
    </section>
</div>