---
const {uniqueProductsHeader, uniqueProductsText, uniqueProductsImage, uniqueProductsBtn} = Astro.props;
---

<div>
    <section>
        <h2>{uniqueProductsHeader}</h2>
        <p>{uniqueProductsText}</p>
        <img src={uniqueProductsImage} alt="random alt text">
        <a href="#">{uniqueProductsBtn}</a>
    </section>
</div>