---
const {productHeroHeader, productHeroText, productHeroImage, productsAltText} = Astro.props;
---

<div>
    <h1>{productHeroHeader}</h1>
    <img src={productHeroImage} alt={productsAltText}>
    <p>{productHeroText}</p>
</div>