---
const {productHeroHeader, productHeroText, productHeroImage} = Astro.props;
---

<div>
    <h1>{productHeroHeader}</h1>
    <img src={productHeroImage} alt="random alt text">
    <p>{productHeroText}</p>
</div>