---
const {productHeroHeader, productHeroText, productHeroImage, productsAltText} = Astro.props;
---

<div class="products-banner">
    <div class="products-hero">
        <h1>{productHeroHeader}</h1>
        <img src={productHeroImage} alt={productsAltText}>
        <p>{productHeroText}</p>
    </div>
</div>