---
const {featuredpromoTitle, featuredpromoBtn, featuredpromoText, featuredpromoImage} = Astro.props;
---

<div>
    <h2>{featuredpromoTitle}</h2>
    <p>{featuredpromoText}</p>
    <img src={featuredpromoImage} alt="random alt text">
    <a href="#">{featuredpromoBtn}</a>
</div>