---
const {requestquoteHeader, requestquoteText, requestquotePhone, requestquoteEmail} = Astro.props;

---

<div>
    <h1>{requestquoteHeader}</h1>
    <p>{requestquoteText}</p>
    <p>{requestquotePhone}</p>
    <p>{requestquoteEmail}</p>
</div>