---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="container-four">
    <h1 class="h1-four">404</h1>
    <p>Oops! Page could not be found.</p>
    <a href="/" class="btn-four"> Back to Home </a>
  </div>
</Layout>
