---
const {aboutUsHeroHeader, aboutUsHeroDesc, aboutUsHeroImage, aboutUsAltText} = Astro.props;

---

<div>
    <h1>{aboutUsHeroHeader}</h1>
    <img src={aboutUsHeroImage} alt={aboutUsAltText}>
    <p>{aboutUsHeroDesc}</p>
</div>