@use "colours" as *;
@use "mixins" as *;

// HERO SECTION

.product-hero-grid {
  a {
    font-size: 20px;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    margin: 1rem;
    color: $black;
    text-decoration: underline;

    img {
      width: 30px;
    }
  }
}
.featured-products-hero {
  @include products-hero-card($tertiary-dark-blue);
  padding: 32px 16px;
  margin-bottom: 6rem;
  color: $white;

  img {
    margin: 0 auto;
  }

  .product-hero-container {
    max-width: 700px;
    margin: 0 auto;
  }
}

.featured-products-hero p {
  padding: 16px 0;
}

.featured-products-container {
  background-color: $primary-blue;
  padding: 16px;
}

// WHAT ARE... SECTION
.featured-products-info {
  @include products-hero-card($white);
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  max-width: 700px;
  margin: 0 auto;
  gap: 1rem;

  h2 {
    padding-top: 1rem;

  }
}

.linerless-img,
.pressure-seal-img,
.integrated-form-img {
  padding-top: 16px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 700px;
  margin: 0 auto;

  img {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
}

.inner-container {
  img {
    border-radius: 12px;
  }
}

.linerless-img img,
.pressure-seal-img img,
.integrated-form-img img {
  border-radius: 12px;
}

.integrated-form-img img:nth-child(2) {
  padding: 16px 0;
}

.integrated-last-img {
  display: flex;
  justify-content: center;
  padding-top: 0px;
}

// YELLOW HEADER SECTION
.yellow-header {
  @include yellow-header-products;
}

.featured-products-infolist {
  @include products-hero-card($tertiary-dark-blue);
  color: white;
  padding: 32px 16px 16px 16px;
  max-width: 700px;
  margin: 0 auto;
}

.featured-products-infolist ul {
  padding-left: 32px;
}

.featured-products-infolist li {
  padding: 16px 0 8px 0;
}

.featured-products-btn {
  @include btn($white, $tertiary-dark-blue, $btn-hover-blue);
  display: inline-block;
  width: 100%;
  margin: 16px 0;
}

.featured-products-additional-info {
  margin-bottom: 96px;

  .product-container {
    margin: 0 auto;
  }
}

// *** MEDIA QUERY ***

@media (min-width: 1000px) {

  .product-hero-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    margin: 0 auto;

    a {
      font-size: 1rem;
      margin: unset;
      margin-top: 1rem;
      grid-column: 2;
      white-space: nowrap;
      width: 100%;
    }

    .featured-products-hero {
      grid-column: 2 / span 11;
      gap: 20px;
      display: grid;
      grid-template-columns: repeat(11, 1fr);
      margin-bottom: 9rem;
      align-items: center;
      padding: unset;
      max-width: 1920px;

      .product-hero-container {
        grid-column: 2 / span 4;
        padding: 3rem 0;

      }

      .product-hero-img {
        grid-column: 7 / span 4;
        padding: 2rem 0;

        img {
          border-radius: 12px;
        }
      }
    }
  }

  .featured-products-additional-info {
    margin: 0 auto;
    max-width: 1920px;
    margin-bottom: 9rem;

    .product-container {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 20px;
      grid-column: span 12;
      margin-top: calc(9rem - 25px);

      .yellow-header {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-column: 1 / span 8;
        max-width: unset;

        h2 {
          grid-column: 3 / span 6;
        }
      }

      .featured-products-infolist {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: 20px;
        grid-column: 3 / span 8;
        max-width: unset;
        margin: unset;
        padding: unset;

        .inner-container {
          padding: 2rem 0;
          grid-column: 2 / span 6;

          a {
            width: 31.5%;
          }

          img {
            width: 100%;
          }
        }

        .inner-grid {
          display: grid;
          grid-template-columns: repeat(6, 1fr);
          gap: 20px;

          .list {
            grid-column: 1 / span 3;
            
            a {
              width: unset;
            }
          }

          img {
            grid-column: 4 /span 3;
          }
        }
      }
    }
  }


  .featured-products-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    padding: 3rem 0;
    max-width: 1920px;
    margin: 0 auto;
  }

  .featured-products-info {
    grid-column: 2 / span 5;
    padding: 32px;

    h2 {
      padding-top: unset;
      font-size: 32px;
    }
  }

  .linerless-img,
  .pressure-seal-img,
  .integrated-form-img {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    grid-column: 7 / span 6;
    padding-top: unset;
    max-width: unset;

    img {
      max-width: unset;
    }

    img:nth-child(1) {
      grid-column: 1 / span 2;
    }

    img:nth-child(2) {
      grid-column: 3 / span 3;
      margin-top: 4rem;
    }

    img:nth-child(3) {
      grid-row: 2;
      grid-column: 2 / span 3;
    }

  }

  .pressure-seal-img, .integrated-form-img {
    grid-template-rows: unset
  }

  .linerless-btn {
    display: inline-block;

  }

  .featured-products-hero {
    @include products-hero-card-desktop($tertiary-dark-blue);
    padding: 32px 16px;
  }

}

@media (min-width: 1200px) {

  .featured-products-info {
    grid-column: 3 / span 4;
  }

  .linerless-img,
  .pressure-seal-img,
  .integrated-form-img {

    img:nth-child(2) {
      grid-column: 3 / span 2;
      margin-top: 4rem;
    }

    img:nth-child(3) {
      grid-row: 2;
      grid-column: 2 / span 2;
    }

  }
}


@media (min-width: 1600px) {
  .featured-products-info {
    h2 {
      font-size: 48px;
    }
  }
}