@use "colours" as *;

footer {
  background-color: $primary-blue;
  padding: 32px 16px 16px 16px;

  ul {
    list-style-type: none;

    li {
      margin-top: 32px;
    }
  }
}

.footer-nav-container {
  display: flex;
  gap: 16px;
}

// Prevent wrapping (keep text on one line)
.footer-nav li a {
  white-space: nowrap;
}

.footer-request {
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: $tertiary-dark-blue;
  background-color: $secondary-yellow;
  padding: 1rem;
  border-radius: 6px;
  margin-top: 32px;
  width: 270px;
  text-align: center;
  transition: background-color 0.3s ease-in-out; 
  &:hover {
    background-color: #FFEDAD;
  }
}

.footer-phone-container svg,
.footer-email-container svg {
  width: 1.5rem;
  color: white;
  margin-right: 13px;
}

.footer-phone-container,
.footer-email-container {
  display: flex;
}

.footer-phone {
  margin: 32px 0px;
}

.footer-copyright {
  padding-top: 45px;
}

.footer-line {
  display: block;
  width: 270px;
  height: 3px;
  background-color: $white;
  margin-top: 25.5px;
}

footer a,
footer p {
  font-family: "Assistant", sans-serif;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  color: $white;
}

@media (min-width: 1000px) {

  .footer-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
  }

  .footer-line {
    display: inline-block;
    width: 2px;
    height: 350px;
    background-color: $white;
    margin: 0;
  }

  .footer-nav-container {
    gap: 50px;
  }

  footer a,
  footer p {
    font-size: 24px;
  }

  .footer-logo-details {
    padding-top: 32px;
  }
}

@media (min-width: 1400px) {
  .footer-nav-container {
    gap: 150px;
  }
}