@use "colours" as *;

footer {
  background-color: $primary-blue;
  padding: 32px 16px 16px 16px;
  ul {
    list-style-type: none;

    li {
        margin-top: 32px;
    }

  }
}


.footer-container {
  display: flex;
  gap: 16px;
}

// Prevent wrapping (keep text on one line)
.footer-nav li a {
  white-space: nowrap;
}

.footer-request {
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: $button-blue;
  background-color: $secondary-yellow;
  padding: 1rem;
  border-radius: 6px;
  margin-top: 32px;
  width: 270px;
  text-align: center;
}

.footer-phone-container svg,
.footer-email-container svg {
    width: 1.5rem;
    color: white;
    margin-right: 13px;
}

.footer-phone-container,
.footer-email-container {
    display: flex;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-phone {
    margin: 32px 0px;
}

.footer-copyright {
    padding-top: 45px;
}

.footer-line {
  display: block;         
  width: 270px;           
  height: 3px;             
  background-color: $white;
  margin-top: 25.5px;
}

footer a,
footer p {
  text-decoration: none;
  font-weight: bold;
  color: $white;
  font-family: "Assistant", sans-serif;
}

