@use "colours" as *;
@use "mixins" as *;

footer {
  background-color: $primary-blue;
  padding: 32px 16px 16px 16px;

  .footer-navigation {
    display: flex;
    justify-content: space-between;
  }

  ul {
    list-style-type: none;
    max-width: 147px;

    li {
      margin-top: 32px;
    }
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-nav-container {
  display: flex;
  gap: 16px;
}

.footer-request {
  @include btn ($secondary-yellow, $tertiary-dark-blue, #FFEDAD);
  display: inline-block;
  margin-top: 32px;
  width: 100%;
}

.footer-phone-container svg,
.footer-email-container svg {
  width: 1.5rem;
  color: white;
  margin-right: 13px;
}

.footer-phone-container,
.footer-email-container {
  display: flex;
}

.footer-phone {
  margin: 32px 0px;
}

.footer-copyright {
  padding-top: 45px;
}

.footer-line {
  display: block;
  width: 300px;
  height: 2px;
  background-color: $white;
  margin-top: 25.5px;
}

footer a,
footer p {
  font-family: "Assistant", sans-serif;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  color: $white;
}

@media (min-width: 1000px) {

  .footer-container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-top: 30px;
  }

  .footer-line {
    display: inline-block;
    width: 2px;
    height: 350px;
    background-color: $white;
    margin: 0;
  }

  .footer-nav-container {
    gap: 50px;
  }

  footer a,
  footer p {
    font-size: 24px;
  }

  .footer-logo-details {
    padding-top: 32px;
  }
}

@media (min-width: 1400px) {
  .footer-nav-container {
    gap: 150px;
  }
}