/* Styles for both contact us and request a qoute page here */
@use "colours" as *;
@use "mixins" as *;

.contact-info-card{
    padding-top: 1rem;
    color: $tertiary-dark-blue;
}
.form-h1{
    background-color: $secondary-yellow ;
    padding: 1rem;
    border-radius: 15px;
    position: relative;
    z-index: 1;
    left: -20px;
    max-width: 793px;
}
.form-h1 h1{
    padding-left: 1rem;
}
.contact-group h2{
    font-family: 'assistant';
    font-size: 22px;
    padding: 1rem 0 0 1rem;
}
.form-svg{
    width: 30px;
    height: 30px;
    margin: 1rem 0 1rem 0;
}
.contact-row{
    display: flex;
    align-items: center;
    gap: 0.35rem;
}
.contact-row p{
    padding-left: 1rem;
}
.contact-card{
    background-color: $white;
    border-radius: 15px;
    padding: 2rem 1rem 1rem 1rem;
    max-width: 700px;
    margin: 0 auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 2;
    padding-bottom: 2rem;
    
}
.form-symbol{
    color: #fbc8c8;
    font-weight: bold;
}
.form-p{
    margin: 1rem 0 1rem 0;
}

.form-card{
    background-color: $tertiary-dark-blue;
    font-family: 'assistant', sans-serif;
    color: $white;
    margin-bottom: 96px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    max-width: 700px;
    margin: 0 auto;
    margin-top: -2rem;
    margin-bottom: 96px;

  
    div{
        margin-bottom: 1rem;
    }
    input,
    select{
        width: 100%;
        height: 55px;
        border-radius: 4px;
        margin-bottom: 0.5rem;
    }
}

label{
    
    font-weight: bold;
    text-transform: uppercase;
  
}

input::placeholder,
textarea::placeholder,
select::placeholder,
option{
    font-family: 'assistant', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: $grey;
    padding: 0.5rem;
}

::file-selector-button{
    border: none;
    border-right: 2px solid $tertiary-dark-blue;
    background-color: $white;
    color: $tertiary-dark-blue;
    font-size: 20px;
    height: 55px;
    
}
.message-box{
    height: 256px;
    width: 100%;
    border-radius: 4px;
   
}
.label-upload input{
    display: none;
    border: none;
}

.file-upload{
 display: inline-block;
  width: 100%;
  background: $white;
  color: $tertiary-dark-blue;
  border-radius: 8px;
  font-size: 18px;
  border: 1px solid #ccc;
}
.upload-p{
    margin: 1px  0 1px 0;
}
.submit-btn {
  @include btn ($white, $tertiary-dark-blue, #FFEDAD);
  display: inline-block;
  margin-top: 1rem;
  width: 100%;
  padding: 0;
}

@media (min-width: 1000px){

    .hero-grid{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        align-items: start;
    }
    .h1-grid{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 1rem;
    }

    .form-h1{
        grid-column: 1 / span 12;
        left: 0;
        border-radius: 0 15px 15px 0;
        
    }
    .form-h1 h1{
        grid-column: 3/ span 6;
        padding-left: 0;
        
    }
    .contact-card{
        grid-column: 3/ span 12;
        border-radius: 0 0 15px 15px;
        margin: unset;
        margin-top: -1rem;
        z-index: unset;
    }

    .forms-page-wrapper{
          margin-bottom: 144px;
          gap: 1rem;
          display:grid;
          grid-template-columns: repeat(12, 1fr);
          align-items: start;
          margin-top: 80px;   
      }
    
    .forms-page-wrapper > :first-child{
        grid-column: 1 / span 5;

    }
    .background-form{
        background-color: $tertiary-dark-blue;
        margin-top: 2rem;
        
    }
    .form-card{
        grid-column: 7/ span 6;
        margin-top: 2rem;
        box-shadow: none;
        max-width: unset;
    }

    .product-type-quantity{
    display: flex;
    gap: 1rem;

    div{
        flex: 1;
    }   
    
}  

}

//desktop layout
@media (min-width: 1200px) {

    .forms-page-wrapper{
        margin: 144px 0 144px 0;
    }

    .contact-info-card{
        padding-top: unset;
    }
    .form-h1{
        grid-column: 1 / span 12;
        left: 0;
    }
    .form-h1 h1{
        grid-column: 6/ span 6;
        
    }
    .contact-card{
        grid-column: 6 / span 12;
    
    }
    .forms-page-wrapper > :first-child{
        grid-column: 1 / span 5;
    
    }

    .form-card{
        grid-column: 6/ span 6;
    }
}