@use 'colours' as *;
@use 'mixins' as *;

header {
    font-family: "Assistant", sans-serif;
    position: relative;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(143, 143, 143, 0.25);

    .top-nav {
        font-weight: bold;
        background-color: $primary-blue;
        padding: 6px 0;

        a,
        span {
            font-size: 16px;
            text-decoration: none;
            color: $white;
            padding-right: .5rem;
        }
    }

    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 1rem 0;

        svg {
            width: 50px;
        }
    }

    nav {
        display: none;
        background-color: $white;
        position: absolute;
        top: 100%;
        right: 0;
        width: 67%;
        z-index: 10;
        border: 1px solid $grey;
        border-radius: 12px 0 0 12px;

        ul {
            margin: 0;
            padding: 0;

            li {
                border-bottom: 1px solid $grey;

                a {
                    padding: 13px 0 13px 1rem;
                    text-decoration: none;
                    text-transform: uppercase;
                    display: block;
                    font-size: 20px;
                    font-weight: 600;
                    color: $tertiary-dark-blue;
                    height: 100%;
                    width: 100%;
                }

                a:hover {
                    background-color: $secondary-yellow;
                    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
                }
            }
        }
    }

    .show-nav {
        display: unset;
    }

    button {
        border: none;
        background-color: unset;
        cursor: pointer;
    }

    ul {
        list-style-type: none;
    }
}

.call-btn {
    position: fixed;
    z-index: 1;
    bottom: 25px;
    right: 25px;
    background-color: $secondary-yellow;
    padding: 20px;
    border-radius: 50%;
    text-decoration: none;
    color: $tertiary-dark-blue;
    width: 75px;
    height: 75px;
}


@media (min-width: 320px) {
    .request {
        display: none;
    }

    .nav-container {
        img {
            width: 170px;
        }
    }
}

@media (min-width: 1000px) {
    header {
        position: unset;

        .top-nav {
            a,
            span {
                font-size: 20px;
            }
        }

        .nav-container {
            flex-wrap: unset;

            button {
                display: none;
            }

            img {
                width: 220px;
            }

            .request {
                @include btn ($secondary-yellow, $tertiary-dark-blue, #FFEDAD);
                display: inline-block;
                font-weight: bold;
            }
        }

        nav {
            position: unset;
            display: flex;
            width: unset;
            border: unset;
            align-items: center;
            justify-content: space-between;

            ul {
                display: flex;
                flex-wrap: wrap;

                li {
                    border-bottom: none;
                    line-height: 65px;

                    a {
                        display: inline;
                        white-space: nowrap;
                        padding: 1rem 1rem; 
                    }

                    a:hover {
                        padding: 1rem;
                        border-radius: 12px;
                        box-shadow: 4px 0 3px 0 rgba(74, 68, 68, 0.50);
                    }
                }
            }
        }

        .show-nav {
            position: unset;
        }
    }
}