@use 'colours' as *;

.top-nav {
    display: flex;
    gap: .5rem;
    background-color: $primary-blue;

    a {
        text-decoration: none;
        color: $white;
    }
    span {
        color: $white;
    }
}