@use 'colours' as *;
@use 'mixins' as *;

.hero-section {
    margin: 0 auto;
    position: relative;
    max-width: 700px;

    h1 {
        color: $primary-blue;
    }

    .video-container {
        margin: 0 auto;

        video {
            width: 100%;
        }
    }

    .hero-card {
        @include white-card;
        margin: 0 auto;

        p {
            padding: 1rem 0;
        }
    }

    .card-flex {
        display: flex;
        flex-direction: column;

        gap: 1rem;

        h2 {
            display: flex;
            align-items: start;
            gap: 1rem;

            img {
                max-width: 35px;
            }
        }

        .products-card {
            display: flex;
            flex-direction: column;
            background-color: $primary-blue;
            color: $white;
            padding: 1rem;
            border-radius: 12px;

            p {
                font-weight: 600;
            }

            a {
                @include btn ($white, $primary-blue, #A0D3FF);
                border: 2px solid $white;
            }
        }

        .services-card {
            display: flex;
            flex-direction: column;
            background-color: $tertiary-dark-blue;
            color: $white;
            padding: 1rem;
            border-radius: 12px;

            p {
                font-weight: 600;
            }

            a {
                @include btn ($tertiary-dark-blue, $white, $primary-blue);
                border: 2px solid $white;
            }
        }

        .promo-card {
            display: flex;
            flex-direction: column;
            background-color: $secondary-yellow;
            color: $black;
            padding: 1rem;
            border-radius: 12px;

            p {
                font-weight: 600;
            }

            a {
                @include btn ($secondary-yellow, $black, #FFEDAD);
                border: 2px solid $black;
            }
        }
    }
}

.high-quality-section {
    background-color: $primary-blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 6rem;

    img {
        border-radius: 12px;
        margin-top: 1rem;
        width: 100%;
        max-width: 700px;
    }

    .high-quality-card {
        @include white-card;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-top: 1rem;
        border-radius: 12px;
        margin-bottom: 1rem;
        max-width: 700px;
    }

    a {
        @include btn ($secondary-yellow, $tertiary-dark-blue, #FFEDAD);
        display: block;
    }
}

.featured-products {
    margin-top: 6rem;
    color: $white;
    margin-left: auto;
    margin-right: auto;

    h2 {
        @include yellow-header-products;
        padding-top: 27px;
        padding-bottom: 27px;
        max-width: 700px;
    }

    .products-section {
        background-color: $tertiary-dark-blue;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        border-radius: 15px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

        img {
            border-radius: 12px;
        }

        .pressure-seal-section {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding-top: 3rem;
            max-width: 294px;

            a {
                @include btn ($white, $tertiary-dark-blue, #A0D3FF);
            }
        }

        .linerless-label-section {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            max-width: 294px;

            a {
                @include btn ($white, $tertiary-dark-blue, #A0D3FF);
            }
        }

        .integrated-section {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin-bottom: 1rem;
            max-width: 294px;

            a {
                @include btn ($white, $tertiary-dark-blue, #A0D3FF);
            }
        }
    }
}

.online-services {
    margin-top: 6rem;
    background-color: $primary-blue;

    .service-container {
        padding-top: 1rem;
        padding-bottom: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        max-width: 700px;
        margin: 0 auto;

        img {
            border-radius: 12px;
        }
    
        .online-card {
            @include white-card;
            border-radius: 12px;
    
            h2 {
                padding: 1rem 0;
            }
        }
    
        a {
            @include btn ($secondary-yellow, $tertiary-dark-blue, #FFEDAD);
            max-width: 700px;
            width: 100%;
        }
    }

}

.about-section {
    margin: 6rem 0 6rem 0;

    h2 {
        @include yellow-header-products;
        padding-top: 27px;
        padding-bottom: 27px;
    }

    .about-info {
        background-color: $tertiary-dark-blue;
        color: $white;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-top: 3rem;
        padding-bottom: 1rem;
        border-radius: 15px;
        max-width: 700px;

        img {
            border-radius: 12px;
        }

        .about-flex {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .about-request {
                @include btn ($secondary-yellow, $tertiary-dark-blue, #FFEDAD);
                display: block;
            }

            .about-contact {
                @include btn ($tertiary-dark-blue, $white, $primary-blue);
                display: block;
                border: 2px solid $white;
            }
        }

    }
}

@media (min-width: 1000px) {
    .hero-section {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 20px;
        max-width: 1920px;
        padding: 172px 0;

        .video-container {
            position: absolute;
            inset: 0;
            z-index: -1;

            video {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .hero-card {
            width: 920px;
            border-radius: 15px;
            padding: 2rem;
            grid-column: 2 / span 6;

            h1,
            p {
                max-width: 574px;
            }
        }

        .card-flex {
            flex-direction: row;
            justify-content: center;
            gap: 20px;

            h2 {
                font-size: 24px;
            }

            .products-card {
                justify-content: space-between;
            }
        }
    }

    .high-quality-section {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        flex-direction: unset;

        img {
            max-width: none;
            margin-top: unset;
            grid-column: 2 / span 5;
        }

        .high-quality-card {
            grid-column: 8 / span 4;
            margin-bottom: unset;
        }
    }
}