@use 'colours' as *;

@mixin btn ($bg-colour, $text-colour, $hover-bg-colour) {
    font-weight: bold;
    background-color: $bg-colour;
    color: $text-colour;
    border-radius: 6px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding: 1rem;
    font-size: 20px;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: $hover-bg-colour;
    }
}

@mixin white-card {
    background-color: $white;
    padding: 0 1rem 1rem 1rem;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 0 0 15px 15px;
}