@use 'colours' as *;

@mixin btn ($bg-colour, $text-colour, $hover-bg-colour) {
    font-weight: bold;
    background-color: $bg-colour;
    color: $text-colour;
    border-radius: 6px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding: 1rem;
    font-size: 20px;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: $hover-bg-colour;
    }
}

@mixin white-card {
    background-color: $white;
    padding: 0 1rem 1rem 1rem;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 0 0 15px 15px;
}

@mixin products-hero-card ($bg-colour) {
    background-color: $bg-colour;
    padding: 0 1rem 1rem 1rem;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
}

@mixin products-hero-card-desktop ($bg-colour) {
    background-color: $bg-colour;
    padding: 0 1rem 1rem 1rem;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    // remove right border edges
    border-radius: 15px 0 0 15px;
}

@mixin yellow-header-products {
    background-color: $secondary-yellow ;
    padding: 27px 1rem 27px 2rem;
    border-radius: 15px;
    position: relative;
    z-index: 1;
    left: -20px;
    top: 25px;
    max-width: 793px;
    color: $tertiary-dark-blue;
}

@mixin yellow-header-products-desktop {
    background-color: $secondary-yellow ;
    padding: 1rem 1rem 1rem 2rem;
    border-radius: 0 15px 15px 0;
    position: relative;
    z-index: 1;
    top: 25px;
    left: 0;
    color: $tertiary-dark-blue;
    max-width: 1300px;
    padding-left: 22rem;
}