@use "colours" as *;
@use "mixins" as *;

// mobile style for products page
.products-hero {
    @include white-card;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 700px;
    margin: 0 auto;

    h1 {
        color: $primary-blue;
        margin-top: 1rem
    }

    img {
        display: block;
        width: calc(100% + 2rem);
        max-width: none;
        margin-left: -1rem;
        margin-right: -1rem;
        min-height: 180px;
    }

}

.featured-h2-grid{
    @include yellow-header-products;
    margin-top: 96px;
}
.featured-products-bg{
 @include products-hero-card($tertiary-dark-blue)  
}


.products-container{
   
    align-items: center;
    max-width: 700px;
    margin: 0 auto;

       img {
        display: block;
        width: calc(100% + 2rem);
        min-height: 180px;
        border-radius: 15px;
        margin: 0 auto;
        align-items: center;
        }

       h3{
        padding: 2rem 0 1rem 0;
        color: $white;
        }

}
.featured-btn{
    @include  btn ($white, $tertiary-dark-blue, #FFEDAD);
    display: block;
    max-width: 100%; 
    margin-top: 1rem
}

.more-products{
    background-color: $primary-blue
}
.more-products{

    @include products-hero-card($primary-blue);
    border-radius: 0;
    margin: 96px 0 96px 0;
}
.more-products-container{
    max-width: 700px;
    margin: 0 auto;

    h4{
        margin: 1rem 0 1rem 0;
    }

     ul h3{
        font-family: 'assistant', sans-serif;
    }

}
.more-products-section{
    background-color: white;
    padding: 1rem;
    border-radius: 12px;
    margin-bottom: 64px;
    align-items: center;
}


.accordion .title {
    font-size: 1.5rem;
    color: $tertiary-dark-blue;
    border: 2px solid $tertiary-dark-blue;
    background-color: $secondary-yellow;
    border-radius: 6px;
    text-transform: uppercase;
    padding: 1rem;
    font-weight: bold;
  }

  .accordion .content {
    padding: 2rem;
    background: #FBE69E;
    border: unset;
    border-radius: 5px;
  }
.promo-products-container{
    
    @include products-hero-card($tertiary-dark-blue);
    margin-bottom: 96px;
       h2, p{
        color: $white;
        padding-top: 1rem;
       }
       img {
        width: calc(100% + 2rem);
        min-height: 180px;
        border-radius: 15px;
        margin: 0 auto;
    }

    .promo-btn{
        @include btn ($white, $tertiary-dark-blue, #FFEDAD);
        display: block;
        max-width: 400px;   
        margin: 1rem auto 1rem 0;
    }

}
@media(min-width:1200px){

    .products-banner {
        background-image: url("https://stylish-dinosaurs-39d17e40aa.media.strapiapp.com/products_hero_8adc45541a.webp");
        background-size: cover;
        background-position: center;
        padding: 1rem;
        max-width: 1920px;
        margin: 0 auto;
    }

    .products-hero {
        padding: 0 2rem 2rem 2rem;
        max-width: unset;
        width: 763px;
        border-radius: 15px;
        margin: 9rem 0 9rem 10vw;

        img {
            display: none;
        }

        .service-btn {
            width: 288px;
        }
    }

    .featured-h2-grid{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 1rem;

        h2{
            grid-column: 5 / span 10;
        }
    }
   

    .featured-products-bg{
        margin: 0 150px 0 150px;
    }
    .products-container{
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        gap: 1rem;
        max-width: unset;
    }
   
    .products-container section:nth-child(1){
        grid-column: 2 / span 2;
    }
    .products-container section:nth-child(2){
        grid-column: 5 / span 2;
    }
     .products-container section:nth-child(3){
        grid-column: 8 / span 2;
    }
    .products-container section img{
        max-width: 300px;
        width: 100%;
        height: 277px;
    }


    .more-products-container{
    max-width: 700px;
    margin: 0 auto;

    h4{
        margin: 1rem 0 1rem 0;
    }

     ul h3{
        font-family: 'assistant', sans-serif;
    }

}

    .more-products-container{
    max-width: unset;
    margin: unset;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
}

.more-products-section{
    display: flex;
    grid-column: 3 / span 8;
}
.product-header-group img{
    width: 70%;
    align-items: center;
}
.product-header-group{
    width: 50%;
}
.accordion-group{
    width: 50%;
}

    .promo-products-container{
        display: grid;
        grid-template-columns: repeat(10,1fr);
        margin: 0 150px 96px 150px;
        align-items: center;

        div:nth-child(1){
            grid-column: 2 / span 3;
        }

        div:nth-child(2){
            grid-column: 6 / span 4;
            align-items: center;
        }
    }
    
}