@use 'colours' as *;
@use 'mixins' as *;

//Online Services Page Styles
.service-hero {
    @include white-card;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 700px;
    margin: 0 auto;

    h1 {
        color: $primary-blue;
        margin-top: 1rem
    }

    .service-btn {
        @include btn ($secondary-yellow, $tertiary-dark-blue, #FFEDAD);
        display: block;
        width: 100%;
    }
}

.service {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: $tertiary-dark-blue;
    color: $white;
    margin: 6rem 0 6rem 0;

    section {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        max-width: 700px;
        margin: 0 auto;
    }
}

@media (min-width: 1000px) {
    .service-hero {
        padding: 0 2rem 2rem 2rem;
        max-width: unset;
        width: 763px;
        border-radius: 15px;
        margin: 9rem 0 9rem 10vw;

        img {
            display: none;
        }

        .service-btn {
            width: 288px;
        }
    }

    .service {
        margin: 9rem 0;

        section {
            max-width: 1234px;
            flex-direction: row;
            align-items: center;
            gap: 20px;

        }
    }
}

//About Us Page Styles
.about-hero {
    @include white-card;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 700px;
    margin: 0 auto;

    h1 {
        color: $primary-blue;
        margin-top: 1rem
    }

    .hero-tag {
        p {
            font-weight: 600;
        }
    }
}

.about-bg {
    background-color: $tertiary-dark-blue;
    color: $white;
    margin: 6rem 0 6rem 0;

    .about-flex {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .set-apart-flex {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .set-apart-tag {
                p {
                    font-weight: 600;
                }
            }
        }
    }
}