@use 'colours' as *;
@use 'mixins' as *;

//Online Services Page Styles
.service-hero {
    @include white-card;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 700px;
    margin: 0 auto;

    h1 {
        color: $primary-blue;
        margin-top: 1rem
    }

    .service-btn {
        @include btn ($secondary-yellow, $tertiary-dark-blue, #FFEDAD);
        display: inline-block;
        width: 100%;
    }
}

.service-bg {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: $tertiary-dark-blue;
    color: $white;
    margin: 6rem 0 6rem 0;

    section {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        max-width: 700px;
        margin: 0 auto;
    }
}