@use 'colours' as *;
@use 'mixins' as *;


//Online Services Page Styles
.service-hero {
    @include white-card;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 700px;
    margin: 0 auto;

    h1 {
        color: $primary-blue;
        margin-top: 1rem
    }

    img {
        display: block;
        width: calc(100% + 2rem);
        max-width: none;
        margin-left: -1rem;
        margin-right: -1rem;
    }


    .service-btn {
        @include btn ($secondary-yellow, $tertiary-dark-blue, #FFEDAD);
        display: block;
        width: 100%;
    }
}

.service {
    background-color: $tertiary-dark-blue;

    .service-grid {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        color: $white;
        margin: 6rem 0 6rem 0;

        section {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 1rem 0;
            max-width: 700px;
            margin: 0 auto;

            img {
                border-radius: 12px
            }
        }
    }

}

//About Us Page Styles
.about-hero {
    @include white-card;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 700px;
    margin: 0 auto;

    h1 {
        color: $primary-blue;
        margin-top: 1rem
    }

    img {
        display: block;
        width: calc(100% + 2rem);
        max-width: none;
        margin-left: -1rem;
        margin-right: -1rem;
    }

    .hero-tag {
        p {
            font-weight: 600;
        }
    }
}

.about-bg {
    background-color: $tertiary-dark-blue;
    color: $white;
    margin: 6rem 0 6rem 0;

    .about-wide-flex {
        display: flex;
        flex-direction: column;
        padding-bottom: 1rem;
        max-width: 700px;
    }

    .about-flex {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 0;

        .set-apart-flex {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .set-apart-tag {
                p {
                    font-weight: 600;
                }
            }
        }

        .about-btn {
            @include btn ($white, $tertiary-dark-blue, #A0D3FF);
        }
    }
}

@media (min-width: 1000px) {

    //Online Services
    .service-banner {
        background-image: url("https://stylish-dinosaurs-39d17e40aa.media.strapiapp.com/poster_printing_banner_650b9eb00a.webp");
        background-size: cover;
        background-position: center;
        padding: 1rem;
        max-width: 1920px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 20px;
    }

    .service-hero {
        grid-column: 2 / span 5;
        padding: 0 2rem 2rem 2rem;
        max-width: unset;
        border-radius: 15px;
        margin: 9rem 0;

        img {
            display: none;
        }

        .service-btn {
            width: 288px;
        }
    }

    .service {
        margin: 9rem 0;
        gap: 4rem;

        h2 {
            font-size: 32px;
        }

        .service-grid {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            gap: 20px;
            padding: 5rem 0;

            section {
                display: grid;
                grid-template-columns: repeat(8, 1fr);
                grid-column: 3 / span 8;
                flex-direction: unset;
                align-items: center;
                gap: 20px;
                padding: unset;
                max-width: unset;

                div {
                    grid-column: 1 /span 4;
                }

                img {
                    grid-column: 5 / span 4;
                }
            }

        }
    }

    //About Us 

    .about-banner {
        background-image: url("https://stylish-dinosaurs-39d17e40aa.media.strapiapp.com/about_us_hero_b00d4326ec.webp");
        background-size: cover;
        background-position: center;
        padding: 1rem;
        max-width: 1920px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 20px;
    }

    .about-hero {
        grid-column: 2 / span 5;
        padding: 0 2rem 2rem 2rem;
        max-width: unset;
        border-radius: 15px;
        margin: 9rem 0;

        img {
            display: none;
        }
    }

    .about-bg {
        margin: 9rem 0 9rem 0;

        .about-wide-flex {
            flex-direction: row;
            align-items: center;
            max-width: 1254px;
            gap: 2rem;
            padding: 4rem 30px;

            img {
                border-radius: 12px;
                flex: 1;
                width: 50%;
            }
        }

        .about-flex {
            flex: 1;
            width: 50%;

            h2 {
                max-width: 500px;
            }

            .about-btn {
                width: 316px;
            }
        }

    }

}

@media (min-width: 1600px) {
.service {
    h2 {
        font-size: 48px;
    }
}
}