@use 'colours' as *;
@use 'mixins' as *;


//Online Services Page Styles
.service-hero {
    @include white-card;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 700px;
    margin: 0 auto;

    h1 {
        color: $primary-blue;
        margin-top: 1rem
    }

    img {
        display: block;
        width: calc(100% + 2rem);
        max-width: none;
        margin-left: -1rem;
        margin-right: -1rem;
    }


    .service-btn {
        @include btn ($secondary-yellow, $tertiary-dark-blue, #FFEDAD);
        display: block;
        width: 100%;
    }
}

.service {
    background-color: $tertiary-dark-blue;
    padding: 0 1rem;

    .service-grid {
        display: flex;
        flex-direction: column;
        gap: 2rem;;
        color: $white;
        margin: 6rem 0 6rem 0;

        section {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 1rem 0;
            max-width: 700px;
            margin: 0 auto;

            img {
                border-radius: 12px
            }
        }
    }

}

//About Us Page Styles
.about-hero {
    @include white-card;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 700px;
    margin: 0 auto;

    h1 {
        color: $primary-blue;
        margin-top: 1rem
    }

    img {
        display: block;
        width: calc(100% + 2rem);
        max-width: none;
        margin-left: -1rem;
        margin-right: -1rem;
    }

    .hero-tag {
        p {
            font-weight: 600;
        }
    }
}

.about-bg {
    background-color: $tertiary-dark-blue;
    color: $white;
    margin: 6rem 0 6rem 0;

    .about-wide-flex {
        display: flex;
        flex-direction: column;
        padding: 0 1rem 1rem 1rem;;
        max-width: 700px;
        margin: 0 auto;

        img {
            border-radius: 12px;
        }
    }

    .about-flex {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 0;

        .set-apart-flex {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .set-apart-tag {
                p {
                    font-weight: 600;
                }
            }
        }

        .about-btn {
            @include btn ($white, $tertiary-dark-blue, #A0D3FF);
        }
    }
}

@media (min-width: 1000px) {

    //Online Services
    .service-banner {
        background-image: url("https://truthful-song-3b4f8cc9a9.media.strapiapp.com/poster_printing_banner_8d2aa6490f.webp");
        background-size: cover;
        background-position: center;
        padding: 1rem;
        max-width: 1920px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 20px;
    }

    .service-hero {
        grid-column: 2 / span 5;
        padding: 0 2rem 2rem 2rem;
        max-width: unset;
        border-radius: 15px;
        margin: 9rem 0;

        img {
            display: none;
        }

        .service-btn {
            width: 288px;
        }
    }

    .service {
        margin: 9rem 0;
        gap: 4rem;

        h2 {
            font-size: 32px;
        }

        .service-grid {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            gap: 20px;
            padding: 5rem 0;
            max-width: 1920px;
            margin: 0 auto;

            section {
                display: grid;
                grid-template-columns: repeat(8, 1fr);
                grid-column: 3 / span 8;
                flex-direction: unset;
                align-items: center;
                gap: 20px;
                padding: unset;
                max-width: unset;

                div {
                    grid-column: 1 /span 4;
                }

                img {
                    grid-column: 5 / span 4;
                }
            }

        }
    }

    //About Us 

    .about-banner {
        background-image: url("https://truthful-song-3b4f8cc9a9.media.strapiapp.com/about_us_hero_large_7fc727c606.webp");
        background-size: cover;
        background-position: center;
        padding: 1rem;
        max-width: 1920px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 20px;
    }

    .about-hero {
        grid-column: 2 / span 5;
        padding: 0 2rem 2rem 2rem;
        max-width: unset;
        border-radius: 15px;
        margin: 9rem 0;

        img {
            display: none;
        }
    }

    .about-bg {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 20px;
        margin: 9rem 0 9rem 0;

        .about-wide-flex {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            gap: 20px;
            grid-column: 3 / span 8;
            align-items: center;
            max-width: unset;
            padding: 4rem 0;

            img {
                grid-column: span 4;
                border-radius: 12px;
            }
        }

        .about-flex {
            grid-column: span 4;
            padding: unset;

            h2 {
                max-width: 500px;
                font-size: 32px;
            }
        }

    }

}

@media (min-width: 1600px) {
    .service {
        h2 {
            font-size: 48px;
        }
    }

    .about-bg {
        .about-flex {
            h2 {
                font-size: 48px;
            }
        }
    }
}