/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
header {
  font-family: "Assistant", sans-serif;
  position: absolute;
  top: 0;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(143, 143, 143, 0.25);
}
header .top-nav {
  font-weight: bold;
  display: flex;
  gap: 0.5rem;
  background-color: #0F72DA;
  padding: 6px 1rem;
}
header .top-nav a {
  text-decoration: none;
  color: #FFFFFF;
}
header .top-nav span {
  color: #FFFFFF;
}
header .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 6px 1rem 6px 1rem;
}
header .nav-container img {
  width: 75%;
}
header .nav-container svg {
  width: 50px;
}
header nav {
  display: none;
  background-color: #FFFFFF;
  position: absolute;
  top: 100%;
  right: 0;
  width: 67%;
  z-index: 10;
  border: 1px solid #939393;
  border-radius: 12px 0 0 12px;
}
header nav ul {
  margin: 0;
  padding: 0;
}
header nav ul li {
  border-bottom: 1px solid #939393;
}
header nav ul li a {
  padding: 13px 0 13px 1rem;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  font-size: 20px;
  font-weight: 600;
  color: #000;
}
header nav ul li a:hover,
header nav ul li a:active {
  background-color: #F7CE41;
}
header .show-nav {
  display: unset;
}
header button {
  border: none;
  background-color: unset;
  cursor: pointer;
}
header ul {
  list-style-type: none;
}

main {
  margin-top: 137.25px;
}

@media (min-width: 320px) {
  .request {
    display: none;
  }
}
@media (min-width: 1000px) {
  header {
    position: unset;
  }
  header .nav-container {
    flex-wrap: unset;
  }
  header .nav-container button {
    display: none;
  }
  header .nav-container .request {
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #124D80;
    background-color: #F7CE41;
    padding: 1rem;
    border-radius: 6px;
  }
  header nav {
    position: unset;
    display: flex;
    width: unset;
    border: unset;
    align-items: center;
    justify-content: space-between;
  }
  header nav ul {
    display: flex;
    gap: 87px;
  }
  header nav ul li {
    border-bottom: none;
  }
  header nav ul li a {
    display: inline-block;
    padding: unset;
  }
  header nav ul li a:hover {
    padding: 1rem;
  }
  header .show-nav {
    position: unset;
  }
  main {
    margin-top: unset;
  }
}/*# sourceMappingURL=styles.css.map */