/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
h1 {
  font-family: "hepta slab", serif;
  font-weight: bold;
  font-size: 29px;
}

h2 {
  font-family: "hepta slab", serif;
  font-weight: bold;
  font-size: 24px;
}

h3 {
  font-family: "hepta slab", serif;
  font-weight: 500;
  font-size: 22px;
}

h4 {
  font-family: "hepta slab", serif;
  font-weight: 500;
  font-size: 20px;
}

p,
li {
  font-family: "assistant", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

a {
  font-family: "assistant", sans-serif;
  font-weight: 600;
  font-size: 16px;
  font-style: uppercase;
  text-decoration: none;
}

@media (min-width: 1000px) {
  h1 {
    font-size: 56px;
  }
  h2 {
    font-size: 48px;
  }
  h3 {
    font-size: 32px;
  }
  h4 {
    font-size: 20px;
  }
  a {
    font-size: 20px;
  }
}
#name_errormsg,
#phone_errormsg,
#email_errormsg,
#subject_errormsg,
#message_errormsg,
#quantity_errormsg {
  color: red;
  display: none;
}

header {
  font-family: "Assistant", sans-serif;
  position: relative;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #0F72DA;
  box-shadow: 0 4px 8px 0 rgba(143, 143, 143, 0.25);
}
header .top-nav {
  font-weight: bold;
  background-color: #0F72DA;
  padding: 6px 0;
}
header .top-nav a, header .top-nav span {
  font-size: 16px;
  text-decoration: none;
  color: #FFFFFF;
  padding-right: 0.5rem;
}
header .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 0;
}
header .nav-container svg {
  width: 50px;
}
header nav {
  display: none;
  background-color: #FFFFFF;
  position: absolute;
  top: 100%;
  right: 0;
  width: 67%;
  z-index: 10;
  border: 1px solid #939393;
  border-radius: 12px 0 0 12px;
}
header nav ul {
  margin: 0;
  padding: 0;
}
header nav ul li {
  border-bottom: 1px solid #939393;
}
header nav ul li a {
  padding: 13px 0 13px 1rem;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  font-size: 20px;
  font-weight: 600;
  color: #124D80;
  height: 100%;
  width: 100%;
}
header nav ul li a:hover {
  background-color: #F7CE41;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
header .show-nav {
  display: unset;
}
header button {
  border: none;
  background-color: unset;
  cursor: pointer;
}
header ul {
  list-style-type: none;
}

@media (min-width: 320px) {
  .request {
    display: none;
  }
  .nav-container img {
    width: 170px;
  }
}
@media (min-width: 1000px) {
  header {
    position: unset;
  }
  header .top-nav a, header .top-nav span {
    font-size: 20px;
  }
  header .nav-container {
    flex-wrap: unset;
  }
  header .nav-container button {
    display: none;
  }
  header .nav-container img {
    width: 220px;
  }
  header .nav-container .request {
    font-weight: bold;
    background-color: #F7CE41;
    color: #124D80;
    border-radius: 6px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding: 1rem;
    font-size: 20px;
    transition: background-color 0.3s ease;
    display: inline-block;
    font-weight: bold;
  }
  header .nav-container .request:hover {
    background-color: #FFEDAD;
  }
  header nav {
    position: unset;
    display: flex;
    width: unset;
    border: unset;
    align-items: center;
    justify-content: space-between;
  }
  header nav ul {
    display: flex;
    flex-flow: nowrap;
  }
  header nav ul li {
    border-bottom: none;
  }
  header nav ul li a {
    display: inline;
    white-space: nowrap;
    padding: 1rem 1rem;
  }
  header nav ul li a:hover {
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 4px 0 3px 0 rgba(74, 68, 68, 0.5);
  }
  header .show-nav {
    position: unset;
  }
}
footer {
  background-color: #0F72DA;
  padding: 32px 0 1rem 0;
}
footer img {
  margin: 0 auto;
  width: calc(100% - 2rem);
}
footer .footer-navigation {
  display: flex;
  justify-content: space-between;
}
footer ul {
  list-style-type: none;
  width: 100%;
}
footer ul li {
  margin-top: 32px;
}
footer ul li a:hover {
  text-decoration: underline;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.footer-nav-container {
  display: flex;
  gap: 1rem;
}

.footer-request {
  font-weight: bold;
  background-color: #F7CE41;
  color: #124D80;
  border-radius: 6px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 1rem;
  font-size: 20px;
  transition: background-color 0.3s ease;
  display: inline-block;
  margin-top: 32px;
  width: 100%;
}
.footer-request:hover {
  background-color: #FFEDAD;
}

.footer-phone-container svg,
.footer-email-container svg {
  width: 1.5rem;
  color: white;
  margin-right: 13px;
}

.footer-phone-container,
.footer-email-container {
  display: flex;
}

.footer-phone {
  margin: 32px 0px;
}

.footer-line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
  margin-top: 25.5px;
}

footer a,
footer p {
  font-family: "Assistant", sans-serif;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  color: #FFFFFF;
}

@media (min-width: 1000px) {
  footer img {
    max-width: 316px;
  }
  .footer-container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-top: 30px;
  }
  .footer-line {
    display: inline-block;
    width: 2px;
    height: 350px;
    background-color: #FFFFFF;
    margin: 0;
  }
  .footer-nav-container {
    gap: 50px;
  }
  footer a {
    font-size: 24px;
  }
  .footer-logo-details {
    padding-top: 32px;
  }
}
@media (min-width: 1400px) {
  .footer-nav-container {
    gap: 150px;
  }
}
.container {
  padding: 0 1rem 0 1rem;
  margin: 0 auto;
}

@media (min-width: 1000px) {
  .container {
    padding: 0 30px 0 30px;
    max-width: 1920px;
  }
}
.hero-section {
  background-color: #FFFFFF;
  padding: 0 1rem 1rem 1rem;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 0 0 15px 15px;
  max-width: 700px;
  margin: 0 auto;
}
.hero-section h1 {
  color: #0F72DA;
  padding: 1rem 0;
}
.hero-section .video-container {
  margin-bottom: 1rem;
}
.hero-section .video-container video {
  width: calc(100% + 2rem);
  margin-left: -1rem;
  margin-right: -1rem;
}
.hero-section .card-flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.hero-section .card-flex h2 {
  display: flex;
  align-items: start;
  gap: 1rem;
}
.hero-section .card-flex h2 img {
  max-width: 35px;
}
.hero-section .card-flex .products-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #0F72DA;
  color: #FFFFFF;
  padding: 1rem;
  border-radius: 12px;
}
.hero-section .card-flex .products-card p {
  font-weight: 600;
}
.hero-section .card-flex .products-card a {
  font-weight: bold;
  background-color: #FFFFFF;
  color: #0F72DA;
  border-radius: 6px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 1rem;
  font-size: 20px;
  transition: background-color 0.3s ease;
}
.hero-section .card-flex .products-card a:hover {
  background-color: #A0D3FF;
}
.hero-section .card-flex .services-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #124D80;
  color: #FFFFFF;
  padding: 1rem;
  border-radius: 12px;
}
.hero-section .card-flex .services-card p {
  font-weight: 600;
}
.hero-section .card-flex .services-card a {
  font-weight: bold;
  background-color: #124D80;
  color: #FFFFFF;
  border-radius: 6px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 1rem;
  font-size: 20px;
  transition: background-color 0.3s ease;
  border: 2px solid #FFFFFF;
}
.hero-section .card-flex .services-card a:hover {
  background-color: #0F72DA;
}
.hero-section .card-flex .promo-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #F7CE41;
  color: #000;
  padding: 1rem;
  border-radius: 12px;
}
.hero-section .card-flex .promo-card p {
  font-weight: 600;
}
.hero-section .card-flex .promo-card a {
  font-weight: bold;
  background-color: #F7CE41;
  color: #000;
  border-radius: 6px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 1rem;
  font-size: 20px;
  transition: background-color 0.3s ease;
  border: 2px solid #000;
}
.hero-section .card-flex .promo-card a:hover {
  background-color: #FFEDAD;
}

.high-quality-section {
  background-color: #0F72DA;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 6rem;
}
.high-quality-section img {
  border-radius: 12px;
  margin-top: 1rem;
}
.high-quality-section .high-quality-card {
  background-color: #FFFFFF;
  padding: 0 1rem 1rem 1rem;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 0 0 15px 15px;
  border-radius: 12px;
}
.high-quality-section .high-quality-card h2 {
  padding: 1rem 0;
}
.high-quality-section a {
  font-weight: bold;
  background-color: #F7CE41;
  color: #124D80;
  border-radius: 6px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 1rem;
  font-size: 20px;
  transition: background-color 0.3s ease;
  margin-bottom: 1rem;
}
.high-quality-section a:hover {
  background-color: #FFEDAD;
}

.featured-products {
  margin-top: 6rem;
  color: #FFFFFF;
}
.featured-products h2 {
  background-color: #F7CE41;
  padding: 1rem 1rem 1rem 2rem;
  border-radius: 15px;
  position: relative;
  z-index: 1;
  left: -20px;
  top: 25px;
  max-width: 793px;
  color: #124D80;
  padding-top: 27px;
  padding-bottom: 27px;
}
.featured-products .products-section {
  background-color: #124D80;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.featured-products .products-section img {
  border-radius: 12px;
}
.featured-products .products-section .pressure-seal-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 3rem;
}
.featured-products .products-section .pressure-seal-section a {
  font-weight: bold;
  background-color: #FFFFFF;
  color: #124D80;
  border-radius: 6px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 1rem;
  font-size: 20px;
  transition: background-color 0.3s ease;
}
.featured-products .products-section .pressure-seal-section a:hover {
  background-color: #A0D3FF;
}
.featured-products .products-section .linerless-label-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.featured-products .products-section .linerless-label-section a {
  font-weight: bold;
  background-color: #FFFFFF;
  color: #124D80;
  border-radius: 6px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 1rem;
  font-size: 20px;
  transition: background-color 0.3s ease;
}
.featured-products .products-section .linerless-label-section a:hover {
  background-color: #A0D3FF;
}
.featured-products .products-section .integrated-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}
.featured-products .products-section .integrated-section a {
  font-weight: bold;
  background-color: #FFFFFF;
  color: #124D80;
  border-radius: 6px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 1rem;
  font-size: 20px;
  transition: background-color 0.3s ease;
  padding: 4.5px 12px;
}
.featured-products .products-section .integrated-section a:hover {
  background-color: #A0D3FF;
}

.online-services {
  margin-top: 6rem;
  background-color: #0F72DA;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.online-services .online-card {
  background-color: #FFFFFF;
  padding: 0 1rem 1rem 1rem;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 0 0 15px 15px;
  border-radius: 12px;
}
.online-services .online-card h2 {
  padding: 1rem 0;
}
.online-services a {
  font-weight: bold;
  background-color: #F7CE41;
  color: #124D80;
  border-radius: 6px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 1rem;
  font-size: 20px;
  transition: background-color 0.3s ease;
}
.online-services a:hover {
  background-color: #FFEDAD;
}

.about-section {
  margin: 6rem 0 6rem 0;
}
.about-section h2 {
  background-color: #F7CE41;
  padding: 1rem 1rem 1rem 2rem;
  border-radius: 15px;
  position: relative;
  z-index: 1;
  left: -20px;
  top: 25px;
  max-width: 793px;
  color: #124D80;
  padding-top: 27px;
  padding-bottom: 27px;
}
.about-section .about-info {
  background-color: #124D80;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 3rem;
  padding-bottom: 1rem;
  border-radius: 15px;
}
.about-section .about-info img {
  border-radius: 12px;
}
.about-section .about-info .about-flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.about-section .about-info .about-flex .about-request {
  font-weight: bold;
  background-color: #F7CE41;
  color: #124D80;
  border-radius: 6px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 1rem;
  font-size: 20px;
  transition: background-color 0.3s ease;
  display: block;
}
.about-section .about-info .about-flex .about-request:hover {
  background-color: #FFEDAD;
}
.about-section .about-info .about-flex .about-contact {
  font-weight: bold;
  background-color: #124D80;
  color: #FFFFFF;
  border-radius: 6px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 1rem;
  font-size: 20px;
  transition: background-color 0.3s ease;
  display: block;
  border: 2px solid #FFFFFF;
}
.about-section .about-info .about-flex .about-contact:hover {
  background-color: 0;
}

.service-hero {
  background-color: #FFFFFF;
  padding: 0 1rem 1rem 1rem;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 0 0 15px 15px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 700px;
  margin: 0 auto;
}
.service-hero h1 {
  color: #0F72DA;
  margin-top: 1rem;
}
.service-hero img {
  display: block;
  width: calc(100% + 2rem);
  max-width: none;
  margin-left: -1rem;
  margin-right: -1rem;
}
.service-hero .service-btn {
  font-weight: bold;
  background-color: #F7CE41;
  color: #124D80;
  border-radius: 6px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 1rem;
  font-size: 20px;
  transition: background-color 0.3s ease;
  display: block;
  width: 100%;
}
.service-hero .service-btn:hover {
  background-color: #FFEDAD;
}

.service {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #124D80;
  color: #FFFFFF;
  margin: 6rem 0 6rem 0;
}
.service section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  max-width: 700px;
  margin: 0 auto;
}
.service section img {
  border-radius: 12px;
}

.about-hero {
  background-color: #FFFFFF;
  padding: 0 1rem 1rem 1rem;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 0 0 15px 15px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 700px;
  margin: 0 auto;
}
.about-hero h1 {
  color: #0F72DA;
  margin-top: 1rem;
}
.about-hero img {
  display: block;
  width: calc(100% + 2rem);
  max-width: none;
  margin-left: -1rem;
  margin-right: -1rem;
}
.about-hero .hero-tag p {
  font-weight: 600;
}

.about-bg {
  background-color: #124D80;
  color: #FFFFFF;
  margin: 6rem 0 6rem 0;
}
.about-bg .about-wide-flex {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  max-width: 700px;
}
.about-bg .about-flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}
.about-bg .about-flex .set-apart-flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.about-bg .about-flex .set-apart-flex .set-apart-tag p {
  font-weight: 600;
}
.about-bg .about-flex .about-btn {
  font-weight: bold;
  background-color: #FFFFFF;
  color: #124D80;
  border-radius: 6px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 1rem;
  font-size: 20px;
  transition: background-color 0.3s ease;
}
.about-bg .about-flex .about-btn:hover {
  background-color: #A0D3FF;
}

@media (min-width: 1000px) {
  .service-banner {
    background-image: url("https://stylish-dinosaurs-39d17e40aa.media.strapiapp.com/poster_printing_banner_650b9eb00a.webp");
    background-size: cover;
    background-position: center;
    padding: 1rem;
    max-width: 1920px;
    margin: 0 auto;
  }
  .service-hero {
    padding: 0 2rem 2rem 2rem;
    max-width: unset;
    width: 763px;
    border-radius: 15px;
    margin: 9rem 0 9rem 10vw;
  }
  .service-hero img {
    display: none;
  }
  .service-hero .service-btn {
    width: 288px;
  }
  .service {
    margin: 9rem 0;
    gap: 4rem;
  }
  .service .portal {
    padding-top: 5rem;
  }
  .service .warehouse {
    padding-bottom: 5rem;
  }
  .service section {
    max-width: 1234px;
    flex-direction: row;
    align-items: center;
    padding: 0 1rem;
    gap: 20px;
  }
  .service section img {
    max-width: 50%;
  }
  .about-banner {
    background-image: url("https://stylish-dinosaurs-39d17e40aa.media.strapiapp.com/about_us_hero_b00d4326ec.webp");
    background-size: cover;
    background-position: center;
    padding: 1rem;
    max-width: 1920px;
    margin: 0 auto;
  }
  .about-hero {
    padding: 0 2rem 2rem 2rem;
    max-width: unset;
    width: 763px;
    border-radius: 15px;
    margin: 9rem 0 9rem 10vw;
  }
  .about-hero img {
    display: none;
  }
  .about-bg {
    margin: 9rem 0 9rem 0;
  }
  .about-bg .about-wide-flex {
    flex-direction: row;
    align-items: center;
    max-width: 1254px;
    gap: 2rem;
    padding: 4rem 30px;
  }
  .about-bg .about-wide-flex img {
    border-radius: 12px;
    flex: 1;
    width: 50%;
  }
  .about-bg .about-flex {
    flex: 1;
    width: 50%;
  }
  .about-bg .about-flex h2 {
    max-width: 500px;
  }
  .about-bg .about-flex .about-btn {
    width: 316px;
  }
}
/* Styles for both contact us and request a qoute page here */
.contact-info-card {
  padding-top: 1rem;
  color: #124D80;
}

.form-h1 {
  background-color: #F7CE41;
  padding: 1rem;
  border-radius: 15px;
  position: relative;
  z-index: 1;
  left: -20px;
  max-width: 793px;
}

.form-h1 h1 {
  padding-left: 1rem;
}

.contact-group h2 {
  font-family: "assistant";
  font-size: 22px;
  padding: 1rem 0 0 1rem;
}

.form-svg {
  width: 30px;
  height: 30px;
  margin: 1rem 0 1rem 0;
}

.contact-row {
  display: flex;
  align-items: center;
  gap: 0.35rem;
}

.contact-row p {
  padding-left: 1rem;
}

.contact-card {
  background-color: #FFFFFF;
  border-radius: 15px;
  padding: 2rem 1rem 1rem 1rem;
}

.form-p {
  margin-bottom: 1rem;
}

.form-card {
  background-color: #124D80;
  font-family: "assistant", sans-serif;
  color: #FFFFFF;
  margin-bottom: 96px;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 1rem;
}
.form-card input,
.form-card select {
  width: 100%;
  height: 55px;
  margin-bottom: 1rem;
  border-radius: 4px;
}

label {
  font-weight: bold;
  text-transform: uppercase;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  font-family: "assistant", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #939393;
  padding: 0.5rem;
}

input::placeholder,
textarea::placeholder,
option {
  font-family: "assistant", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #939393;
  padding: 0.5rem;
}

.message-box {
  height: 256px;
  width: 100%;
  border-radius: 4px;
}

.label-upload input {
  display: none;
  border: none;
}

.file-upload {
  display: inline-block;
  width: 100%;
  background: #FFFFFF;
  color: #124D80;
  padding: 1rem;
  border-radius: 8px;
  font-size: 18px;
  border: 1px solid #ccc;
}

.upload-p {
  margin: -1rem 0 0.5rem 0;
}

.submit-btn {
  font-weight: bold;
  background-color: #FFFFFF;
  color: #124D80;
  border-radius: 6px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 1rem;
  font-size: 20px;
  transition: background-color 0.3s ease;
  display: inline-block;
  margin-top: 1rem;
  width: 100%;
  padding: 0;
}
.submit-btn:hover {
  background-color: #FFEDAD;
}

@media (min-width: 800px) {
  .hero-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: start;
  }
  .h1-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
  }
  .form-h1 {
    grid-column: 1/span 12;
    left: 0;
    border-radius: 0 15px 15px 0;
  }
  .form-h1 h1 {
    grid-column: 3/span 6;
    padding-left: 0;
  }
  .contact-card {
    grid-column: 3/span 12;
    border-radius: 0 0 15px 15px;
    margin-top: -1rem;
  }
  .forms-page-wrapper {
    margin-bottom: 144px;
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: start;
    margin-top: 80px;
  }
  .forms-page-wrapper > :first-child {
    grid-column: 1/span 5;
  }
  .background-form {
    background-color: #124D80;
    margin-top: 2rem;
  }
  .form-card {
    grid-column: 7/span 6;
    margin-top: 72px;
    box-shadow: none;
  }
  .product-type-quantity {
    display: flex;
    gap: 1rem;
  }
  .product-type-quantity div {
    flex: 1;
  }
}
@media (min-width: 1200px) {
  .form-h1 {
    grid-column: 1/span 12;
    left: 0;
  }
  .form-h1 h1 {
    grid-column: 6/span 6;
  }
  .contact-card {
    grid-column: 6/span 12;
  }
  .forms-page-wrapper > :first-child {
    grid-column: 1/span 5;
  }
  .form-card {
    grid-column: 7/span 4;
  }
}
.featured-products-hero {
  background-color: #124D80;
  padding: 0 1rem 1rem 1rem;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 15px;
  padding: 32px 16px;
  margin-bottom: 96px;
  color: #FFFFFF;
}

.featured-products-hero p {
  padding: 16px 0;
}

.featured-products-container {
  background-color: #0F72DA;
  padding: 16px;
}

.featured-products-info {
  background-color: #FFFFFF;
  padding: 0 1rem 1rem 1rem;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 15px;
  margin-bottom: 1rem;
}

.featured-products-info h2 {
  padding-top: 16px;
}

.featured-products-info p {
  padding: 16px 0 8px 0;
}

.linerless-img {
  margin-top: 16px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.linerless-img img,
.pressure-seal-img img,
.integrated-form-img img {
  border-radius: 12px;
}

.linerless-img img:nth-child(1),
.linerless-img img:nth-child(2) {
  width: 125px;
}

.linerless-img img:nth-child(3) {
  width: 288px;
}

.pressure-seal-img img:nth-child(2) {
  border-radius: 12px;
  margin: 16px 0;
}

.integrated-form-img img:nth-child(2) {
  padding: 16px 0;
}

.integrated-last-img {
  display: flex;
  justify-content: center;
  padding-top: 0px;
}

.featured-products-header {
  background-color: #F7CE41;
  padding: 1rem 1rem 1rem 2rem;
  border-radius: 15px;
  position: relative;
  z-index: 1;
  left: -20px;
  top: 25px;
  max-width: 793px;
  color: #124D80;
}

.featured-products-infolist {
  background-color: #124D80;
  padding: 0 1rem 1rem 1rem;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 15px;
  color: white;
  padding: 32px 16px 16px 16px;
}

.featured-products-infolist ul {
  padding-left: 32px;
}

.featured-products-infolist li {
  padding: 16px 0 8px 0;
}

.featured-products-btn {
  font-weight: bold;
  background-color: #FFFFFF;
  color: #124D80;
  border-radius: 6px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 1rem;
  font-size: 20px;
  transition: background-color 0.3s ease;
  display: inline-block;
  width: 100%;
  margin-top: 16px;
}
.featured-products-btn:hover {
  background-color: #A0D3FF;
}

.featured-products-additional-info {
  margin-bottom: 96px;
}

@media (min-width: 750px) {
  .linerless-img img:nth-child(1),
  .linerless-img img:nth-child(2) {
    width: 188px;
  }
}
@media (min-width: 1000px) {
  .featured-products-hero {
    width: 950px;
    display: flex;
    justify-content: space-evenly;
    padding: 4rem;
    margin-top: 2rem;
    margin-left: auto;
    align-items: center;
  }
  .product-hero-container {
    width: 600px;
    padding-top: 3rem;
  }
  .featured-products-container {
    display: flex;
    gap: 50px;
    justify-content: center;
  }
  .featured-products-info {
    max-width: 605px;
    height: 100%;
    margin-top: 5rem;
    padding: 32px;
  }
  .linerless-img {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .linerless-img img:nth-child(3) {
    max-width: 238px;
  }
  .featured-products-container {
    padding-right: 15rem;
  }
  .featured-products-infolist {
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 150px;
  }
  .featured-products-infolist img {
    width: 920px;
    margin-bottom: 32px;
  }
  .featured-products-btn {
    display: inline;
  }
  .featured-products-hero {
    background-color: #124D80;
    padding: 0 1rem 1rem 1rem;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px 0 0 15px;
    padding: 32px 16px;
  }
}
@media (min-width: 1200px) {
  .linerless-img {
    display: flex;
    flex-direction: column;
  }
  .featured-products-container {
    gap: 50px;
    padding-right: 0;
  }
  .pressure-seal-img img:nth-child(1) {
    width: 348px;
  }
  .pressure-seal-img img:nth-child(2) {
    width: 222px;
  }
  .pressure-seal-img img:nth-child(3) {
    width: 230px;
    padding-left: 0;
  }
  .integrated-form-img img:nth-child(1) {
    width: 382px;
  }
  .integrated-form-img img:nth-child(2) {
    width: 347px;
  }
  .integrated-form-img img:nth-child(3) {
    width: 209px;
  }
}
@media (min-width: 1400px) {
  .featured-products-container {
    padding: 48px 0;
  }
  .linerless-hero-img {
    width: 600px;
    height: 366px;
  }
  .integratedform-hero-img {
    width: 606px;
    height: 366px;
  }
  .pressureseal-hero-img {
    width: 606px;
    height: 356px;
  }
  .featured-products-hero {
    width: 1400px;
  }
  .featured-products-infolist {
    width: 1200px;
  }
  .linerless-img img:nth-child(1) {
    position: relative;
    top: 5rem;
  }
  .linerless-img img:nth-child(2) {
    position: relative;
    left: 14rem;
    top: 3rem;
  }
  .featured-products-header {
    background-color: #F7CE41;
    padding: 1rem 1rem 1rem 2rem;
    border-radius: 15px;
    position: relative;
    z-index: 1;
    top: 25px;
    left: -20px;
    max-width: 1000px;
    color: #124D80;
  }
  .featured-products-flex {
    display: flex;
    justify-content: space-between;
  }
  .featured-products-flex img {
    display: flex;
    width: 450px;
  }
}
@media (min-width: 1600px) {
  .featured-products-hero {
    width: 1500;
  }
  .pressure-seal-img img:nth-child(1) {
    position: relative;
    top: 8rem;
  }
  .pressure-seal-img img:nth-child(2) {
    position: relative;
    left: 23rem;
    bottom: 18rem;
  }
  .pressure-seal-img img:nth-child(3) {
    position: relative;
    left: 26rem;
    bottom: 17rem;
  }
  .integrated-form-img img:nth-child(1) {
    position: relative;
    top: 5rem;
  }
  .integrated-form-img img:nth-child(2) {
    position: relative;
    top: 8rem;
    left: 10rem;
  }
  .integrated-form-img img:nth-child(3) {
    position: relative;
    bottom: 31.5rem;
    left: 30rem;
  }
}
@media (min-width: 1800px) {
  .featured-products-hero {
    width: 1800px;
  }
}
.container-four {
  background-color: #124D80;
  justify-self: center;
  padding: 2rem;
  margin: 96px 0 96px 0;
  border-radius: 15px;
}

.container-four h1, .container-four p {
  color: #FFFFFF;
}

.container-four h1 {
  font-size: 122px;
}

.container-four p {
  font-weight: bold;
}

.btn-four {
  font-weight: bold;
  background-color: #F7CE41;
  color: #124D80;
  border-radius: 6px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 1rem;
  font-size: 20px;
  transition: background-color 0.3s ease;
  display: inline-block;
  margin-top: 32px;
  width: 100%;
}
.btn-four:hover {
  background-color: #FFEDAD;
}

@media (min-width: 1000px) {
  .container-four h1 {
    font-size: 250px;
    justify-self: center;
  }
  .container-four {
    padding: 2rem 7rem;
    margin: 144px 0 144px 0;
  }
  .container-four p {
    justify-self: center;
    font-size: 44px;
  }
}
.products-hero {
  background-color: #FFFFFF;
  padding: 0 1rem 1rem 1rem;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 0 0 15px 15px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 700px;
  margin: 0 auto;
}
.products-hero h1 {
  color: #0F72DA;
  margin-top: 1rem;
}
.products-hero img {
  display: block;
  width: calc(100% + 2rem);
  max-width: none;
  margin-left: -1rem;
  margin-right: -1rem;
  min-height: 180px;
}/*# sourceMappingURL=styles.css.map */