---
const {integratedformlabelHeader, integratedformlabelDesc, integratedformlabelImage} = Astro.props;
---

<div>
    <h1>{integratedformlabelHeader}</h1>
    <p>{integratedformlabelDesc}</p>
    <img src={integratedformlabelImage} alt="random alt text">
</div>