---
const {integratedformlabelHeader, integratedformlabelDesc, integratedformlabelImage, integratedformlabelAltText} = Astro.props;
---

<div>
    <h1>{integratedformlabelHeader}</h1>
    <p>{integratedformlabelDesc}</p>
    <img src={integratedformlabelImage} alt={integratedformlabelAltText}>
</div>