---
const {linerlesslabelHeader, linerlesslabelText, linerlessImage, linerlessAltText} = Astro.props;
import "../../styles/styles.scss";
---

<div class="featured-products-hero">
    <div class="product-hero-container">
        <h1>{linerlesslabelHeader}</h1>
        <p>{linerlesslabelText}</p>
    </div>
    <div class="product-hero-img">
        <img src={linerlessImage} alt={linerlessAltText}>
    </div>
</div>