---
const {linerlesslabelHeader, linerlesslabelText, linerlessImage, linerlessAltText} = Astro.props;
---

<div>
    <h1>{linerlesslabelHeader}</h1>
    <p>{linerlesslabelText}</p>
    <img src={linerlessImage} alt={linerlessAltText}>
</div>