---
const {linerlesslabelHeader, linerlesslabelText, linerlessImage} = Astro.props;
---

<div>
    <h1>{linerlesslabelHeader}</h1>
    <p>{linerlesslabelText}</p>
    <img src={linerlessImage} alt="random alt text">
</div>