---
import ContactUsForm from "../components/ContactUs/ContactUsForm.astro";
import Hero from "../components/ContactUs/Hero.astro";
import Head from "../layouts/Head.astro";
import Layout from "../layouts/Layout.astro";
import fetchApi from "../lib/strapi";



const pages = await fetchApi({
  endpoint: 'contact-uses', 
  page: 'ContactUsPage',
  wrappedByKey: 'data',
});

// http://localhost:1337/api/contact-uses?populate[ContactUsPage][populate]=*

const contactusPage = pages[0];
const pageData = contactusPage?.ContactUsPage || [];

const heroData = pageData.find(pd => pd.__component === "contactushero.contactus-hero") || {};

const contactusFormData = pageData.find(pd => pd.__component === "contactusform.contactus-form") || {};

const seoPageData = pageData.find(pd => pd.__component === "shared.seo") || {};
---
<Head seoData={seoPageData} />
<Layout>
   <div class="background-form">
    <div class="forms-page-wrapper">
        <Hero contactUsHero={heroData} />
        <ContactUsForm formDetails={contactusFormData} />
      </div>
    </div>
</Layout>
