---
import Hero from "../components/RequestQuote/Hero.astro";
import RequestQuoteForm from "../components/RequestQuote/RequestQuoteForm.astro";
import Head from "../layouts/Head.astro";
import Layout from "../layouts/Layout.astro";
import fetchApi from "../lib/strapi";


const pages = await fetchApi({
  endpoint: 'request-quotes', 
  page: 'RequestQuotePage',
  wrappedByKey: 'data',
});

// http://localhost:1337/api/request-quotes?populate[RequestQuotePage][populate]=*

const requestquotePage = pages[0];
const pageData = requestquotePage?.RequestQuotePage || [];

const heroData = pageData.find(pd => pd.__component === "requestquotehero.requestquote-hero") || {};

const requestquoteFormData = pageData.find(pd => pd.__component === "requestquoteform.requestquote-form") || {};

const seoPageData = pageData.find(pd => pd.__component === "shared.seo") || {};
---
<Head seoData={seoPageData} />
<Layout>
  <div class="white-space">

  </div>
   <div class="background-form">
    <div class="forms-page-wrapper ">
      <Hero requestQuoteHero={heroData} />
      <RequestQuoteForm formDetails={requestquoteFormData} />
    </div>
   </div>
</Layout>
