---
const {pressuresealHeader, pressuresealDesc, pressuresealImage, pressuresealAltText} = Astro.props;
---

<div>
    <h1>{pressuresealHeader}</h1>
    <p>{pressuresealDesc}</p>
    <img src={pressuresealImage} alt={pressuresealAltText}>
</div>