---
const {pressuresealHeader, pressuresealDesc, pressuresealImage} = Astro.props;
---

<div>
    <h1>{pressuresealHeader}</h1>
    <p>{pressuresealDesc}</p>
    <img src={pressuresealImage} alt="random alt text">
</div>