---


---

<footer>
  <!-- Add logo -->
    <a href="#">Print ED</a>
    <!-- add svg icons for phone and email -->
    <p>123-456-7890</p>
    <p>abdc@gmail.com</p>
    <a href="#">Request Quote</a>
    <ul>
      <li><a href="/">About Us</a></li>
      <li><a href="/">Our Products</a></li>
      <li><a href="/">Contact Us</a></li>
      <li><a href="/">Services</a></li>
      <li><a href="/">Linerless Label</a></li>
      <li><a href="/">Pressure Seal Envelope</a></li>
      <li><a href="/">Integrated Form/Label</a></li>
    </ul>
    <p>Copyright © PrintED 2025</p>
</footer>
