---
import Head from "./Head.astro";
import Nav from "./Nav.astro";
import Footer from "./Footer.astro";
const {title = "Printed", description = "Welcome to Printed!"} = Astro.props;
import "../styles/styles.scss";
---
<html>
    <Head {title} {description} />
    <body>
        <Nav />
        <main>
            <div>
                <slot />
            </div>
        </main>
        <Footer/>
    </body>
</html>