---
import Head from "./Head.astro";
import Nav from "./Nav.astro";
const {title = "Printed", description = "Welcome to Printed!"} = Astro.props;
---
<html>
    <Head {title} {description} />
    <body>
        <Nav />
        <main>
            <section>
                <slot />
            </section>
        </main>
    </body>
</html>