---
import Nav from "./Nav.astro";
import Footer from "./Footer.astro";
import "../styles/styles.scss";
---
<html>
    <body>
        <Nav />
        <main>
            <div>
                <slot />
            </div>
        </main>
        <Footer/>
    </body>
</html>