---
import Nav from "./Nav.astro";
import Footer from "./Footer.astro";
import "../styles/styles.scss";
import fetchApi from "../lib/strapi";

const logoPageData = await fetchApi({
  endpoint: 'logos', 
  wrappedByKey: 'data',
});

---
<html lang="en">
    <body>
        <Nav logo={logoPageData[0]} />
        <main>
            <div>
                <slot />
            </div>
        </main>
        <Footer logo={logoPageData[0]} />
    </body>
</html>