---


---
<header>
  <p>780-123-4567 | abcd@gmail.ca</p>
  <nav>
    <a href="/" >Print ED</a>
    <ul>
      <li><a href="/products">Our Products</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/">Contact Us</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/">Request Quote</a></li>
<<<<<<< HEAD
      <li><a href="#">rikuo</a></li>
=======
      <li><a href="/">jasmine</a></li>
>>>>>>> 6b5eb4dd8b2b0e76f7f2837d12455524744eb585
    </ul>
  </nav>
</header>
