---
import "../styles/styles.scss"
---
<header>
  <div class="top-nav">
    <a href="tel:780-906-9959">780-906-9959</a>
    <span>|</span>
    <a href="mailto:info@printedonline.ca">info@printedonline.ca</a>
  </div>
  <nav>
    <!-- Add logo -->
    <!-- Add hamburger svg -->
    <a href="/" >Print ED</a>
    <ul>
      <li><a href="/products">Our Products</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/contact-us">Contact Us</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/request-quote">Request Quote</a></li>
    </ul>
  </nav>
</header>

<!-- JS here -->